<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	  <script src="../js/login.js"></script>
	  <script src="../js/register.js"></script>
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
    <div id="fl-main-content" class="fl-page-content" itemprop="mainContentOfPage" role="main">

		<br><br><br><br><br><br>
		 <button href="#" class="btn btn-secondary" onclick="window.location.href='https://visioners.onrender.com'" style="margin-left: 12%">Volver</button>
<div class="fl-content-full container">
	
	<div class="row">
		<div class="fl-content col-md-12">
			<article class="fl-post post-287 page type-page status-publish hentry" id="fl-post-287" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

		<header class="fl-post-header">
		<h1 class="fl-post-title" itemprop="headline">Declaración de accesibilidad</h1>
			</header><!-- .fl-post-header -->
			<div class="fl-post-content clearfix" itemprop="text">
		
<p>La Agencia Española de Protección de Datos se ha comprometido a hacer accesibles sus sitios web&nbsp;de conformidad con el&nbsp;<a href="https://www.boe.es/buscar/act.php?id=BOE-A-2018-12699" target="_blank" rel="noreferrer noopener">Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios web y aplicaciones para dispositivos móviles del sector público</a>.</p>



<h2 class="wp-block-heading">SITUACIÓN DE CUMPLIMIENTO</h2>



<p>Este sitio web es&nbsp;<strong>parcialmente conforme</strong>&nbsp;con el&nbsp;<a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2018-12699" target="_blank" rel="noreferrer noopener">RD 1112/2018</a>&nbsp;debido a las excepciones y a la falta de conformidad de los aspectos que se indican a continuación.</p>



<h2 class="wp-block-heading">CONTENIDO NO ACCESIBLE</h2>



<p>El contenido que se recoge a continuación no es accesible por lo siguiente:</p>



<ul>
<li>Falta de conformidad con el RD 1112/2018:
<ul>
<li>Existen vídeos sin subtítulos</li>
<li>Hay contenido textual sin un contraste suficiente</li>
<li>Se observa como en algunos casos el foco no cumple con el mínimo ratio de contraste requerido</li>
<li>En algún caso puede producirse solapamiento de contenido</li>
</ul>
</li>
<li>Carga desproporcionada:</li>
</ul>
<p>No aplica.</p>
<ul>
<li>Contenido no entra dentro del ámbito de la legislación aplicable:</li>
</ul>
<p>No aplica.</p>
<h2 class="wp-block-heading">PREPARACIÓN DE LA PRESENTE DECLARACIÓN DE ACCESIBILIDAD</h2>



<p>La presente declaración fue preparada el 14 de abril de 2023.</p>
<p>El método empleado para la presente declaración ha sido una autoevaluación realizada por la propia Empresa con el soporte de la Herramienta IRA (Informe de Revisión de Accesibilidad) del Observatorio de Accesibilidad.</p>
<p>Última revisión de la declaración: 14 de abril de 2023.</p>



<h2 class="wp-block-heading">OBSERVACIONES Y DATOS DE CONTACTO</h2>



<h3 class="wp-block-heading"><strong>Comunicaciones sobre requisitos de accesibilidad</strong></h3>



<p>Puede realizar&nbsp;comunicaciones&nbsp;sobre requisitos de accesibilidad (artículo 10.2.a del RD 1112/2018) como, por ejemplo:</p>



<ul>
<li>informar sobre cualquier posible incumplimiento por parte de este sitio web</li>



<li>transmitir otras&nbsp;dificultades de acceso&nbsp;al contenido</li>



<li>formular cualquier otra&nbsp;consulta o sugerencia de mejora&nbsp;relativa a la accesibilidad del sitio web a través del&nbsp;<a href="/atencion_cliente">formulario de contacto</a>&nbsp;de esta web.</li>
</ul>



<p>Las comunicaciones serán recibidas y tratadas por la empresa responsable.</p>



<h3 class="wp-block-heading"><strong>Solicitudes de información accesible y quejas</strong></h3>



<p>A través del&nbsp;<a href="/atencion_cliente">formulario de contacto</a>&nbsp;puede presentar:</p>



<ul>
<li>una Queja relativa al cumplimiento de los requisitos del RD 1112/2018 o</li>



<li>una Solicitud de Información accesible relativa a:
<ul>
<li>contenidos que están excluidos del ámbito de aplicación del RD 1112/2018 según lo establecido por el artículo 3, apartado 4</li>



<li>contenidos que están exentos del cumplimiento de los requisitos de accesibilidad por imponer una carga desproporcionada.</li>
</ul>
</li>
</ul>



<p>En la Solicitud de información accesible, se debe concretar, con toda claridad, los hechos, razones y petición que permitan constatar que se trata de una solicitud razonable y legítima.</p>



<h2 class="wp-block-heading">PROCEDIMIENTO DE APLICACIÓN</h2>



<p>Si una vez realizada una solicitud de información accesible o queja, ésta hubiera sido desestimada, no se estuviera de acuerdo con la decisión adoptada, o la respuesta no cumpliera los requisitos contemplados en el artículo 12.5 del RD 1112/2018, la persona interesada podrá iniciar una reclamación. Igualmente se podrá iniciar una reclamación en el caso de no haber obtenido respuesta.</p>



<p>El procedimiento reclamación recogido en el artículo 13 del RD 1112/2018, puede iniciarse a través de&nbsp;<a href="https://sedeagpd.gob.es/sede-electronica-web/vistas/formProcedimientoEntrada/procedimientoEntradaAmpliado.jsf" target="_blank" rel="noreferrer noopener">este enlace</a>.</p>



<h2 class="wp-block-heading">CONTENIDO OPCIONAL</h2>



<p>El sitio web:</p>



<ul>
<li>se ha diseñado adaptándose a los estándares y normativas vigentes en relación a la accesibilidad, cumpliendo con los puntos de verificación de prioridad 2 (AA) definidos en la especificación de Pautas de Accesibilidad al Contenido en la Web (WCAG 2.1)</li>



<li>está optimizado para las últimas versiones vigentes de Chrome, Edge, Firefox, Safari y Opera</li>



<li>está diseñado para su correcta visualización en cualquier resolución y dispositivo de escritorio, tabletas o móviles&nbsp;(diseño&nbsp;<em>responsive</em>)</li>



<li>se ha realizado utilizando HTML5 como lenguaje de marcado y hojas de estilo CSS 3 para su diseño</li>
</ul>



<p>Además, se realiza un trabajo continuo de auditoría y revisión de contenidos para facilitar su interpretación y mejorar la navegación por el portal web.</p>
	</div><!-- .fl-post-content -->
	
</article>

<!-- .fl-post -->
		</div>
	</div>
</div>


	</div>
</body>
</html>