<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisiOners</title>
</head>
<script>
 document.body.onload = function() {
     var precio = 0;
 {{#each resultados}}
   
    {{#if status}} 
     precio +=7;
     {{else}}
     precio +=6;
    {{/if}}
{{/each}}
console.log(precio)
 }
</script>
<body>

     {{#unless status}} 
     <p style="color: aliceblue;">AQUI VA UN FORMULARIO PQ NO ESTAS REGISTRADO</p>
     {{/unless}}
  
 {{#each compra}}
<h1 style="color: aliceblue;">{{titulo}}</h1>
 {{/each}}
 <h1 style="color: aliceblue;">Butacas</h1>
 {{#each resultados}}
<h1 style="color: aliceblue;">{{numero}}</h1>
 {{/each}}
  {{#each compra}}
<h1 style="color: aliceblue;">{{hora}}</h1>
 {{/each}}






</body>
</html>
