<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
     document.body.onload = function() {
       const queryString = window.location.search;

// Crear un objeto a partir de la cadena de consulta
const params = new URLSearchParams(queryString);

// Ejemplo: Obtener el valor del parámetro "parametro1"
const valorParametro1 = params.get('butacas')
const butacasArray = valorParametro1.split(',').map(butaca => parseInt(butaca.trim(), 10));
let ultimoValorEliminado = butacasArray.pop();
console.log(butacasArray);
     }

     
</script>
<body>
  <form action="/invoice"> <button type="submit">Generar PDF</button></form>
    <h1 style="color: aliceblue;">GRACIAS POR COMPRAR!</h1>
</body>
</html>