<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="../js/resumen.js">
</script>
<script src="../js/login.js"></script>
<script src="../js/index.js"></script>
 <link href="../css/main.css" rel="stylesheet" type="text/css" />
<body>
  <br>  <br>    <br>  <br>  <br>
 

  <div class="main-parallax">
                
<div class="wp-container-1 wp-block-group container mt-5"><div class="wp-block-group__inner-container">
    <h1>¡Gracias por comprar en VisiOners!</h1>
    <br>
    <h2>Descargue su entrada desde el siguiente botón:</h2>
    <br>
     <form action="/invoice"><button type="submit" class="btn btn-danger">Descargar entrada</button></form>
     <br> <div class="container text-center mt-5">
      <a href="/"><button type="submit" class="btn btn-secondary">Volver a la página principal</button></a>
      </div>
     </div>
</div>
</body>
</html>