<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="../js/resumen.js">
</script>
<script src="../js/index.js"></script>
<body>
  <form action="/invoice"> <button type="submit">Generar PDF</button></form>
    <h1 style="color: aliceblue;">GRACIAS POR COMPRAR!</h1>
</body>
</html>