#modal2,#modalLogin {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 98, 98);
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  z-index: 1001;
}

#overlay,#overlayLogin {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}




/*Fondo*/
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../img/fondo.png) no-repeat center center fixed;
    background-size: 100% 100%;
}



.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .nav-link {
  margin-left: 10px; /* Espacio entre los elementos nav-link (ajústalo según lo desees) */
}


.centrar{
    margin:auto;
    display:block;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,p{
  color: aliceblue;
}

.menu-index{

  font-size: 22px;
  color: rgb(255, 255, 255);
}

#navbar{
  display: flex;
  align-items: center;
  margin-left : 10%
}

.loguito{
  width: 100%;
  height: auto;
  margin-left: 2%;
} 

.modalLogo{
  width: 40%;
  height: auto;
  margin-left: 27%;
}

.logo{
  width: 40%;
  height: auto;
}

hr {

color: #ffffff; /* Color de la línea horizontal */
  
}



/*CARTELERA*/
.grid-cartelera {
  padding: 0.4em;
  cursor: pointer;
  text-align: center !important;
}

.grid-cartelera img {
  height: 358px;
  width: 250px;
  transition: transform 0.3s ease;
}

.grid-cartelera:hover img {
  transform: scale(1.03); /* Escala al 110% al pasar el ratón por encima */
}


.container {
  max-width: 1300px;
}
.text-center {
  text-align: center !important;
} 

.animate {
  transition: .2s;
}

.error{
	color: red;
	position: relative;
}

.invalid{
	border: solid 2px red;
}

.texto-centrado{
  text-align: center;
}

@media (max-width: 767px) {
  .grid-cartelera img {
    height: 150px;
    width: 100px; /* Reducir el tamaño de la imagen para pantallas más pequeñas */
    /* Otros estilos si es necesario */
  }
  .menu-index{
    font-size:  16px;
    margin-bottom: 1px;
   
  }
}

/*CARTELERA*/

.card{
  color: #ffffff;
}

/*entradas*/

#imagen_entradas{
  width: 370px;
  height: 280px;
}

#imagen_compra{
  width: 180px;
  height: 280px;
}
   

/*FILM*/
body {
  overflow-x: hidden;
}

.infoMovil {
  display: none;
}

p {
  color: aliceblue;
}

#film-card {
  text-align: center;
}

.foto img{
  height: 428px;
  width: 280px;
}

.first_name{
  color: aliceblue;
}

#dateSelector{
font-weight: bold;
font-size: 1rem;
border: none;
 background-color: rgb(161, 51, 51);
  color: rgb(255, 255, 255) !important; 
  padding: 0.4rem !important;
}




@media all and (max-width: 780px) {
  #film-info {
      color: aliceblue;
      margin-left: 5%;
  }

  .foto img{
      height: 278px;
  width: 180px;
  border-radius: 0.75em;
  }

  #imagen_entradas{
    width: 170px;
  height: 270px;
  }

}





/*compra*/
#imagen_compra{
  width: 180px;
  height: 280px;
}
   .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .short-input {
    width: 460px; /* Ancho personalizado */
  }

   .custom-img {
    width: 140px;
    height: auto;
  }
 
  

  .invalid{
border: solid 2px red;
}


.error{
color: rgb(248, 162, 162);
position: relative;
font-size: 15px;

}

#butacas::after {
  content: ',';
  opacity: 0;
}


  @media (max-width: 768px) {
    /* Ajustar estilos para dispositivos móviles si es necesario */
    .flex-container {
      flex-direction: column;
      align-items: flex-start;
    }

    .short-input {
    width: 300px; /* Ancho personalizado */
  }
  }


  li{
    color:aliceblue ;
  }