

/*Fondo*/
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../img/fondo.png) no-repeat center center fixed;
    background-size: 100% 100%;
}

.centrar{
    margin:auto;
    display:block;
}

html {
  scroll-behavior: smooth;
}

.menu-index{

  font-size: 22px;
  color: rgb(255, 255, 255);
}

#navbar{
  display: flex;
  align-items: center;
  margin-left : 10%
}

.loguito{
  width: 100%;
  height: auto;
  margin-left: 2%;
} 

.modalLogo{
  width: 40%;
  height: auto;
  margin-left: 27%;
}

.logo{
  width: 40%;
  height: auto;
}

hr {
 

color: #ffffff; /* Color de la línea horizontal */
  
}



/*CARTELERA*/
.grid-afiche {
  padding: 0.4em;
  cursor: pointer;
  text-align: center !important;
}

.grid-afiche img {
  height: 328px;
  width: 230px;
  transition: transform 0.3s ease;
}

.grid-afiche:hover img {
  transform: scale(1.03); /* Escala al 110% al pasar el ratón por encima */
}


.container {
  max-width: 1300px;
}
.text-center {
  text-align: center !important;
} 

.animate {
  transition: .2s;
}

.error{
	color: red;
	position: relative;
}

.invalid{
	border: solid 2px red;
}




/*CARTELERA*/

.card{
  color: #ffffff;
}